<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-2">
                <div th:replace="fragments.html :: settings-menu(currentMenu='password')"></div>
            </div>
            <div class="col-8">
                <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                    <span th:text="${message}">메시지</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <h2 class="col-sm-12" >패스워드 변경</h2>
                </div>
                <div class="row mt-3">
                    <form class="needs-validation col-12" action="#"
                          th:action="@{/settings/password}" th:object="${passwordForm}" method="post" novalidate>
                        <div class="form-group">
                            <label for="newPassword">새 패스워드</label>
                            <input id="newPassword" type="password" th:field="*{newPassword}" class="form-control"
                                   aria-describedby="newPasswordHelp" required min="8" max="50">
                            <small id="newPasswordHelp" class="form-text text-muted">
                                새 패스워드를 입력하세요.
                            </small>
                            <small class="invalid-feedback">패스워드를 입력하세요.</small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">New Password Error</small>
                        </div>

                        <div class="form-group">
                            <label for="newPasswordConfirm">새 패스워드 확인</label>
                            <input id="newPasswordConfirm" type="password" th:field="*{newPasswordConfirm}" class="form-control"
                                   aria-describedby="newPasswordConfirmHelp" required min="8" max="50">
                            <small id="newPasswordConfirmHelp" class="form-text text-muted">
                                새 패스워드를 다시 한번 입력하세요.
                            </small>
                            <small class="invalid-feedback">새 패스워드를 다시 입력하세요.</small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('newPasswordConfirm')}" th:errors="*{newPasswordConfirm}">New Password Confirm Error</small>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">패스워드 변경하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="fragments.html :: form-validation"></script>
</body>
</html>